html{
  box-sizing: border-box;
}

#root{
  background-color: #f0f4f7;
  padding: 5vw;
}

.content-container{
  background-color: #ffffff;
}

.flex-sb-center{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header{
  margin: 0 20px;
}

.header-buttons{
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.stock-list{
  list-style: none;
  margin: 0 20px;
  padding: 0px;
}

.stock-item{

}

.up-down-arrows{
  display: inline-flex;
  flex-direction: column;
}

.arrow-down {
  transform: scale(1, -1);
}




