html{
  box-sizing: border-box;
}

#root{
  background-color: #f0f4f7;
  padding: 5vw;
}

.content-container{
  background-color: #ffffff;
  font-size: 1.5rem;
  font-family: Avenir;
  font-weight: 100;
  color: #59737c;
}

.flex-sb-center{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header{
  padding: 0 20px;
  text-transform: uppercase;
  color: #41bf15;
  font-size: 2.2rem;
  font-weight: 600;
  font-family: "Lucida Grande";
  border-bottom: solid #f0f4f7;
}

.header-buttons{
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.header-icon{
  margin-left: 5px;
  font-size: 2rem;
  border: none;
  background-color: transparent;
}


.stock-list{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.stock-item{
  padding: 20px 20px;
  border-bottom: solid #f0f4f7;
}

.stock-right{
  width: 250px;
}

.btn-stock{
  border-radius: 10px;
  font-size: 1.8rem;
  font-family: Avenir;
  font-weight: 100;
  color: white;
  border: none;
  width: 130px;
  outline: none;
}

.btn-red{
  background-color: #ff4f46;
}

.btn-green{
  background-color: #63da39;
}

.up-down-arrows{
  display: inline-flex;
  flex-direction: column;
}

.icon-arrow {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 1.2rem;
  color: #ababab;

}

.icon-arrow:disabled{
  color: rgba(171, 171, 171, 0.2);
}

.arrow-down {
  transform: scale(1, -1);
  border: none;
}




